# --- Окружение Poetry ---
.venv/

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --- Логи / временные ---
*.log
*.tmp
*.swp
*.swo

# --- Jupyter ---
.ipynb_checkpoints/
*.ipynb~

# --- Pytest / Coverage ---
.pytest_cache/
.coverage
htmlcov/

# --- IDE ---
.idea/
.vscode/
*.iml

# --- OS ---
.DS_Store
Thumbs.db

# --- ML / Data ---
# - csv добавил для корректной работы при сдаче ДЗ -
# data/
# *.csv
catboost_info

# Датасет к ДЗ модуля 4 Python для анализа данных
citibike-tripdata.csv

# Датасет к ДЗ модуля 5 Python для анализа данных
ratings_movies.csv
orders.csv
products.csv

# Датасет к ДЗ модуля 7 Python для анализа данных
diabetes_data.csv

# Датасет к сессионным заданиям Python для анализа данных
dst-3.0_16_1_hh_database.csv
ExchangeRates.csv

# Датасет для homework_module_pandas
melb_data.csv

*.tsv
*.parquet
*.pkl
*.pmml
# *.joblib
*.h5
*.pt
*.pth
runs/
# outputs/
# output/
# models/

# Датасеты к задаче clustering-physical-activity
homework_tasks/ml/clustering-physical-activity/data/

# Датасеты к задаче scintillation_detector
sessions_tasks/classical_ml/session02/scintillation_detector/data/

# Датасеты к задаче default_credit_card_clients
# sessions_tasks/implementation_ml_models/session02/default_credit_card_clients/data

# --- Сессионное задание "Sber Auto Subscription" ---

# Исходные большие данные
sessions_tasks/classical_ml/session02/sber_auto_subscription/data/raw/*
!sessions_tasks/classical_ml/session02/sber_auto_subscription/data/raw/.gitkeep

# Подготовленные датасеты
sessions_tasks/classical_ml/session02/sber_auto_subscription/data/processed/*
!sessions_tasks/classical_ml/session02/sber_auto_subscription/data/processed/.gitkeep

# Обученные модели
sessions_tasks/classical_ml/session02/sber_auto_subscription/models/*
!sessions_tasks/classical_ml/session02/sber_auto_subscription/models/.gitkeep

# Результаты запусков
sessions_tasks/classical_ml/session02/sber_auto_subscription/outputs/*
!sessions_tasks/classical_ml/session02/sber_auto_subscription/outputs/.gitkeep
!sessions_tasks/classical_ml/session02/sber_auto_subscription/outputs/figures/

sessions_tasks/classical_ml/session02/sber_auto_subscription/outputs/figures/*
!sessions_tasks/classical_ml/session02/sber_auto_subscription/outputs/figures/.gitkeep


